$primary-color: #1b1b1b
$secondary-color: #c0bdbd
$white: #ffffff
$blue-light: #bfd0f6
$blue_strong: #6a97fa
$danger-color:  #fda9b2
$warning-color: #ffe89b
$healthy-color: #b6f5b0

    
$font-primary: 'Roboto', sans-serif
$font-secondary: 'Roboto Mono', monospace
$font-cursive: 'Courgette', cursive


body
  background-color: #1a7aa0 !Important
  font-family: 'Roboto', sans-serif !Important


h1
  text-transform: uppercase


h3
  margin: 0
  font-family: $font-cursive
  text-align: center
  font-size: 1.4rem


input
  border-radius: 10px
  padding-left: 1rem
  padding-right: 1rem

button
  margin-top: 1.2rem
  border-radius: 10px
  font-weight: 600
  font-family: $font-primary
  font-size: 0.8rem